header.nav{
    position: relative;
    height: 30px;
    background: #131313;
}
header.nav .actions{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    right: 5px;
}
.actions .minimize{
    position: relative;
    width: 35px;
    height: 20px;
}
.actions .minimize:hover{
    background-color: #33b4ff;
}
.actions .resize{
    position: relative;
    width: 25px;
    height: 20px;
}
.actions .resize:hover{
    background-color: #33b4ff;
}
.actions .close{
    position: relative;
    width: 40px;
    height: 20px;
}
.actions .close:hover{
    background-color: #ff3333;
}




.actions .minimize .bar{
    width: 14px;
    height: 3px;
    background: #fff;
}
.actions .resize .bar{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
}
.actions .close .bar{
    position: absolute;
    width: 18px;
    height: 3px;
    background: #fff;
    transform: rotate(45deg);
}
.actions .close .bar:nth-child(1){
    transform: rotate(-45deg);
}